@page
@model CancelReservationModel
@{
    ViewData["Title"] = "Rezervacijos atšaukimas";
}
@{
   Layout = "_LayoutClient";
}


<div class="text-center">
    <h1 class="display-4">Rezervacijos atšaukimas</h1>
    <h3>Jūsų rezervacijos duomenys</h3>
    <center>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    Rezervuotas kambarys: 201
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    Data: 2021/11/25 - 2021/12/01
                </div>
            </div>
            <br />
            Ar tikrai norite atšaukti rezervaciją?
            <input type="button" class="btn btn-danger" value="Taip" />
            <input type="button" class="btn btn-light" value="Ne" />
        </div>
    </center>
</div>
