@page
@model DeleteAccModel
@{
    ViewData["Title"] = "Paskyros naikinimas";
}
@{
   Layout = "_LayoutClient";
}


<div class="text-center">
    <h1 class="display-4">Paskyros naikinimas</h1>
    <h3>Jūsų duomenys</h3>
    <center>
        @if (Model.client != null)
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        Jūsų esate: @Model.client.Name @Model.client.Surname
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        Nesumokėtų sąskaitų: @Model.unpaidCount
                    </div>
                </div>
                <br />
                @if (Model.unpaidCount == 0)
                {
                    <h6> Ar tikrai norite panaikinti paskyrą ? </h6>
                    <form method="post">
                        <input type="submit" class="btn btn-danger" value="Taip" />
                        <input type="button" class="btn btn-light" value="Ne" />
                    </form>
                }
                else
                {
                    <h6>Negalite panaikinti paskyros, nes turite nesumokėtų sąskaitų!</h6>
                }
            </div>
        }
    </center>
</div>
