@page "{id}/{handler?}"
@model DeleteworkerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Darbuotojo išregistravimas";
}
@{
    Layout = "_Layoutadmin";
}


<div class="text-center">
    <h1 class="display-4">Darbuotojo išregistravimas</h1>
    @if (Model.deleteID != null)
    {
     <h3>Ar tikrai norite pašalinti darbuotoją, kurio id: @Model.deleteID ?</h3>
    }
    <a asp-area="" asp-page="/Admin/Deleteworker" asp-page-handler="OnClick" asp-route-ID="@Model.deleteID" class="btn btn-danger">Taip</a>
    <input type="button" class="btn btn-light" value="Ne" />
</div>
