@page
@model RegisterworkerModel
@{
    ViewData["Title"] = "Darbuotojo išregistravimas";
}
@{
   Layout = "_Layoutadmin";
}


<div class="text-center">
    <h1 class="display-4">Darbuotojo išregistravimas</h1>
    <h3>Ar tikrai norite pašalinti darbuotoją?</h3>
    <input type="button" class="btn btn-danger" value="Taip" />
    <input type="button" class="btn btn-light" value="Ne" />
</div>
