@page
@model RegisterworkerModel
@{
    ViewData["Title"] = "Darbuotojo registracija";
}
@{
   Layout = "_Layoutadmin";
}


<div class="text-center">
    <h1 class="display-4">Darbuotojo registracija</h1>
</div>
