@page
@model RegisterWorkerindexModel
@{
    ViewData["Title"] = "Pagrindinis langas";
}
@{
   Layout = "_LayoutRegistrationWorkers";
}


<div class="text-center">
    <h1 class="display-4">Registratūros pagrindinis puslapis</h1>
    @if(Model.msg == 1)
            {
                <h6 style="color:forestgreen">
                    Iškvietimas išsiųstas
                </h6>
            }
</div>
