@page "PayBillCash"
@model PayBillCashModel
@{
    ViewData["Title"] = "Rezervacijos atšaukimas";
}
@{
   Layout = "_LayoutRegistrationWorkers";
}


<div class="text-center">
    <h1 class="display-4">Sąskaitos apmokėjimas</h1>
    <h3>Sąsakitos duomenys</h3>
    <center>
        <div class="col-sm-4" style="vertical-align:middle;">
            <table>
                <tr>
                    <th>Kliento vardas:</th>
                    <th></th>
                    <td>Jonas:</td>
                </tr>
                <tr>
                    <th>Kliento pavardė:</th>
                    <th></th>
                    <td>Jonaitis:</td>
                </tr>
                <tr>
                    <th>Sąskaitos Nr.</th>
                    <th></th>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Sudarymo data</th>
                    <td>2021-11-05</td>
                </tr>
                <tr>
                    <th>Suma</th>
                    <th></th>
                    <td>105.50</td>
                </tr>
            </table>
            <br />
            <b>
                Įveskite gautą sumą
            </b>
            <input type="text" />

        </div>
        <table>
            <tr>
                <td>
                    <form asp-page-handler="Pay">
                        <button onclick="post" class="btn btn-success">Apmokėti</button>
                    </form>
                </td>
                <td>
                    <a asp-page="RegBillsindex"><input type="submit" class="btn btn-danger" value="Atšaukti" /></a>
                </td>
            </tr>
        </table>
    </center>
</div>
