@page "RegRoomsindex"
@model RegRoomsindexModel
@{
    ViewData["Title"] = "Pagrindinis langas";
}
@{
   Layout = "_LayoutRegistrationWorkers";
}


<div class="text-center">
    <h1 class="display-4">Kambariai</h1>
    <center>
        <table class="table-striped">
            <tr>
                <th>Kambario Nr.</th>
                <th>Kmbario statusas</th>
            </tr>
            <tr>
                <td>100</td>
                <td>Užimtas</td>
                <td><a asp-page="Changeroomstate"><input type="button" value="Keisti Būseną" /></a></td>
            </tr>

            <tr>
                <td>200</td>
                <td>Laisvas</td>
                <td><a asp-page="Changeroomstate"><input type="button" value="Keisti Būseną" /></a></td>
            </tr>
            <tr>
                <td>200</td>
                <td>Tvarkomas</td>
                <td><a asp-page="Changeroomstate"><input type="button" value="Keisti Būseną" /></a></td>
            </tr>
        </table>
    </center>
</div>
