@page
@model HotelServices.Pages.Workers.RoomListModel
@{
}
}
@{
    Layout = "_LayoutWorker";
}
@{
    Model.GetWork();
}


<div class="text-center">
    <h1 class="display-4">Kambariai</h1>
    <center>
        <table class="table-striped" style="width:80%; justify-content:center; text-align:center;">
            <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Statusas(0 Neuzimtas 1 uzimtas)</th>
                </tr>
            </thead>
            <tbody>

                @{
                    if (Model.work.Count == 0)
                    {
                        <tr><td colspan="5">Neturite rezervacijų</td></tr>
                    }
                }
                @{
                    for (int i = 0; i < Model.work.Count; i++)
                    {
                        <tr>
                            <td>@Model.work[i].Nr</td>
                            <td>@Model.work[i].Statusas</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </center>
</div>
