@page
@model WorkListModel
@{
    ViewData["Title"] = "Darbai";
}
@{
    Layout = "_LayoutWorker";
}


<div class="text-center">
    <h1 class="display-4">Neatlikti darbai</h1>
    <center>
        <table class="table-striped">
            <tr>
                <th>Nr.</th>
                <th>Kambario Nr.</th>            
                <th>Keisti darbo būseną</th>
            </tr>
            <tr>
                <td>1</td>
                <td>100</td>
                <td><input type="button" value="Keisti į atliktą" /></td>
            </tr>

            <tr>
                <td>2</td>
                <td>200</td>
                <td><<input type="button" value="Keisti į atliktą" /></td>
            </tr>
        </table>
    </center>
</div>
