@page
@model WorkerProfileModel
@{
    ViewData["Title"] = "Darbuotojo profilis";
}
@{
    Layout = "_LayoutWorker";
}
@{
    Model.GetWorker();
}

<div class="text-center">
    <h1 class="display-4">Profilis</h1>
    <center>
        <div style="border-style:double; width:50%; margin-top:10%; background-color: whitesmoke">

            <form style="margin-left:35%;" method="post">

                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        @Model.work[0].Name
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        @Model.work[0].Surname
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        @Model.work[0].Birth
                    </div>
                </div>
                <center>
                    <a asp-page="./Atvykimas" asp-route-id="2" onclick="return confirm('Ar fiksuoti?')" class="btn btn-warning">Atvykimas </a>
                    <a asp-page="./Isvykimas" asp-route-id="2" onclick="return confirm('Ar fiksuoti?')" class="btn btn-warning">Isvykimas </a>
                    <br />
                </center>
            </form>
        </div>
    </center>
</div>