@page
@model AdminindexModel
@{
    ViewData["Title"] = "Administavimo pagrindinis langas";
}
@{
   Layout = "_Layoutadmin";
}


<div class="text-center">
    <h1 class="display-4">Administratoriaus pagrindinis langas</h1>
</div>
