@page
@model ClientindexModel
@{
    ViewData["Title"] = "Kliento pagrindinis langas";
}
@{
   Layout = "_LayoutClient";
}


<div class="text-center">
    <h1 class="display-4">Kliento pagrindinis langas</h1>
</div>
