@page
@model IndexModel
@{
    ViewData["Title"] = "Pagrindinis langas";
}



@switch(HttpContext.Session.GetObjectFromJson<string>("role"))
{
    case "rworker":
        Response.Redirect("/Registration");
        break;
    case "worker":
        Response.Redirect("/Workers");
        break;
    case "client":
        Response.Redirect("/Clients");
        break;
    case "admin":
        Response.Redirect("/Admin");
        break;
}

<div class="text-center">
    <h1 class="display-4">Pagrindinis langas</h1>
</div>
