@page
@model LoginModel
@{
    ViewData["Title"] = "Prisjungimo langas";
}
@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4">Prisijungimo forma</h1>
    <center>
        <div style="border-style:double; width:50%; margin-top:10%; background-color: whitesmoke">
            <h2 style="font-weight:normal">Įveskite prisijungimo duomenis</h2>
            <form style="margin-left:35%;" method="post">
                <div class="form-group">
                    <div class="row">
                        <input placeholder="Prisijungimo vardas" type="text" name="username" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <input placeholder="Slaptažodis" type="password" name="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" style="margin-left:10%">
                        <input type="submit" name="submit" value="Prisijungti" />
                    </div>
                </div>
            </form>
        </div>
    </center>
</div>