@page
@model RegClientsindexModel
@{
    ViewData["Title"] = "Pagrindinis langas";
}
@{
   Layout = "_LayoutRegistrationWorkers";
}


<div class="text-center">
    <h1 class="display-4">Klientai</h1>
</div>
