@page
@model RegisterModel
@{
    ViewData["Title"] = "Registracijos langas";
}
@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4">Registacijos forma</h1>
    <center>
        <div style="border-style:double; width:50%; margin-top:10%; background-color: whitesmoke">
            <h2 style="font-weight:normal">Įveskite registracijos duomenis</h2>
            @if(Model.ERROR != "")
            {
                <h4 style="color:red; font-size: 80%">@Model.ERROR</h4>
            }
            <form style="margin-left:35%;" method="post">
                <div class="form-group">
                    <div class="form-row">
                        <input placeholder="Prisijungimo vardas" type="text" name="username" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <input placeholder="El.Paštas" type="email" name="email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <input placeholder="Slaptažodis" type="password" name="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <input placeholder="Pakartoti slapažodį" type="password" name="rpassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <input placeholder="Vardas" type="text" name="name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <input placeholder="Pavardė" type="text" name="surname" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <input placeholder="Telefono numeris" type="text" name="phone" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row" style="margin-left:10%">
                        Gimimo data
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row" style="margin-left:1.5%">
                        <input placeholder="Gimimo data" type="date" name="birth" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row" style="margin-left:10%">
                        <input type="submit" name="submit" value="Registruotis" />
                    </div>
                </div>
            </form>
        </div>
    </center>
</div>