@page
@model RegRezervationsindexModel
@{
    ViewData["Title"] = "Pagrindinis langas";
}
@{
   Layout = "_LayoutRegistrationWorkers";
}


<div class="text-center">
    <h1 class="display-4">Rezervacijos</h1>
    <center>
        <table class="table-striped">
            <tr>
                <th>Nr.</th>
                <th>Kambario Nr.</th>
                <th>Nuo</th>
                <th>Iki</th>
                <th>Rezervacijos būsena</th>
                <th></th>
            </tr>
            <tr>
                <td>1</td>
                <td>100</td>
                <td>2021-11-20</td>
                <td>2021-11-27</td>
                <td>Rezervuota</td>
                <td><a href="aprroveReservation"><input type="button" value="Patvirtinti rezervaciją" /></a></td>
            </tr>

            <tr>
                <td>2</td>
                <td>200</td>
                <td>2021-11-01</td>
                <td>2021-11-05</td>
                <td>Rezervuota</td>
                <td><a href="aprroveReservation"><input type="button" value="Patvirtinti rezervaciją" /></a></td>
            </tr>
        </table>
    </center>
</div>
