@page
@model RegRoomsindexModel
@{
    ViewData["Title"] = "Pagrindinis langas";
}
@{
   Layout = "_LayoutRegistrationWorkers";
}


<div class="text-center">
    <h1 class="display-4">Kambariai</h1>
</div>
