@page
@model workerindexModel
@{
    ViewData["Title"] = "Darbuotojo pagrindinis langas";
}
@{
    Layout = "_LayoutWorker";
}


<div class="text-center">
    <h1 class="display-4">Darbuotojo pagrindinis langas</h1>
</div>
